body{
    color:rgb(46, 199, 32)
}
h1, h3{
    color:blueviolet;
    background-color: aquamarine;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration:underline;
}

#t4 {
    font-size: 36px;
}

.parraform{
    color:brown;
    font-size: 20px;
    font-weight: bolder;
    font-family: monospace;
}